@charset "UTF-8";
/* Body */
@media (max-width: 1558px){
}
body {
	background-color: #ededed;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 800px;
	background-color: #FFFFFF;
}

header {
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #000000;
}

.logo {
	color: #9c8bc4;
	font-weight: bold;
	text-align: undefined;
	width: 12%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}

nav {
	float: right;
	width: 50%; /* Ubicación botones de navegación en el espacio nav*/
	text-align: right; /* Alineacion del texto */
	margin-right: 25px; /* Espacio desde la margen derecha */
}
header nav ul {
	list-style: none; /* Quitar formato de lista */
	float: right; /* Alineacion de botones */
}
nav ul li { /* Propiedades barra de navegación */
	float: left;
	color: #FFFFFF;
	font-size: 15px;
	text-align: left;
	margin-right: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 0.3s linear;
}

h4 a { /* Categoria */
	color: #9c8bc4; /* Color fuente */
	text-decoration: none; /* Quitar subrayado de links */
}

ul li a { /* Categoria */
	color: #000000; /* Color fuente */
	text-decoration: none; /* Quitar subrayado de links */
}

li:hover a {
	color: #9c8bc4; /* Color botones de navegación al poner el puntero */
}


/* Bloque de nombre y slogan */

.proy {
	background-color: #9c8bc4; /* Color del fondo del bloque Proy */
	padding-top: 17%;  /* Pixeles hacia arriba */
	padding-bottom: 17%; /* Pixeles hacia abajo */
}

.proy_header { /* Bloque para el nombre */
	color: #FFFFFF; /* Color de palabra Proy */
	text-align: center; /* Alineacion del texto */
	margin-top: 0px; /* Margen */
	margin-right: 0px; /* Margen */
	margin-bottom: 0px; /* Margen */
	margin-left: 0px; /* Margen */
	letter-spacing: 4px; /* Espaciado entre letras */
}

.Ectm {
	font-weight: bold; /* Grosor fuente para palabra ectM */
	color: #717070; /* Color palabra Ectm */
}
.slogan {
	text-align: center; /* Alineacion del texto */
	color: #FFFFFF;	/* Color del texto */
	margin-top: 4px; /* Margen superior */
	font-weight: lighter; /* Grosor de fuente */
	text-transform: uppercase; /* Transformacion a mayusculas */
	letter-spacing: 1px; /* Espacio entre letras */
}

/* Bloque de footer */

.footer_banner {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	text-align: center;
	margin-top: 0px;

}

.footer_text{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	color: #00000;
	font-weight: 100;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-size: 12px;
}

.fa {
  padding: 0px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
  color: #9c8bc4;
}

/* Bloque de copyright */
.copyright {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #000000;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-size: 12px;
}
